/* styles.css */

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f3f4f6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
}

h1 {
  font-size: 2rem;
  color: #007bff;
  margin-bottom: 20px;
  text-align: center;
}

div {
  text-align: center;
  background-color: #fff;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

span {
  font-size: 1.5rem;
  margin: 0 5px;
  color: #ff6f61;
}

span:last-child {
  color: #28a745;
}

span::after {
  content: "|";
  margin-left: 5px;
}

span:last-child::after {
  content: "";
}
